{% extends "layout.html.twig" %}

{% block title%}
    {{parent()}} - Products
{% endblock %}

{% block content %}

    {% include 'component/_navbar.html.twig' %}

    <div> {# open first div #}
        {% for product in products %}
            <span>
                {{ product }}
            </span>

            {% if loop.index is divisible by(3) %}
            {# close div and create a new one #}
                </div><div>
            {% endif %}
        {% endfor %}

    {% include 'component/_footer.html.twig' %}

{% endblock %}